.aRq,
.j1ei8c,
.PrFpef,
.z0>.L3,
#loading,
.btm>.adI,
.gbii::before,
.lqhisf.DpNtP,
.J-KU-KO>.aIf-aLf,
.J-KU-KO.aIf-aLe .aKz,
.J-KU-KO.aIf-aLe:before,
.nZ>.aHS-bnt .qj, .aHS-bnt .qj::before {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.byl .TO.nZ>.aHS-bnt .n0, .nZ>.aHS-bnt .bsU {
  color: #00adff !important;
}

#loading {
  background-color: #272727 !important;
}