a[href="/accounts/emailsignup/"] {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.Fifk5,
.lOPC8,
.ixdEe,
.cq2ai,
.be6sR,
._0aCwM,
._01jIc {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}
